* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1488972685288-c3fd157d7c7a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDN8fGFyY2hpdGVjdHVyZXxlbnwwfHx8fDE2NjQxMTI5NjI&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    height: 91px;
}

.icon {
    display: flex;
    text-align: center;
    padding: 30px 0 0 30px;
}

.Friendary {
    margin-left: 10px;
}

.show_window{
    width: 400px;
    height: 500px;
    background-color:rgba(91,90,90,0.8);
    border-radius: 70px;
    margin: 100px auto 0 auto;
}

.window_header{

    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 40px;
}

.window_title{
        color:white;
        font-weight: 700;
        font-size:20px;
}

.window_form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 29px;
}

.input {
    width: 263px;
    height: 10px;
    padding: 17.5px 27px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    opacity: 1;
    margin-bottom: 10px;
}

#last_input {
    margin-bottom: 29px;
}

.submit_button {
        width: 317px;
        height: 46px;
        background-color: #007AEB;
        color: white;
        border: none;
        border-radius: 10px;
        opacity: 1.0;
}

.cancel{
    margin-top:5px;
    width:100px;
    color:white;
    font-size: 13.3333px;
    height: 40px;
    background-color: transparent;
    border:none;
}